.container2 {
  height: auto;
  overflow: auto;
}

/* 종목들 관련 css */
.event {
  overflow: hidden;
  border: 1px solid black;
  height: 15vh;
} 

.event > span {
  vertical-align: top;
}

.event:hover {
  cursor: pointer;
  background-color: #7f8c8d;
}

/* footer 관련 css */
.tableFooter {
  position: fixed;
  flex-direction: row;
  bottom: 5%;
  left: 50%;
  width: 80%;
  transform: translateX( -50% );
}

#goFirst {
  text-align: center;
  border: 1px solid #ecf0f1;
  margin-left: 10%;
  background-color: #ecf0f1;
}

#goFirst:hover {
  cursor: pointer;
  color: #ecf0f1;
  border: 1px solid black;
  background-color: black;
}

#goThird {
  text-align: center;
  border: 1px solid #ecf0f1;
  margin-right: 10%;
  background-color: #ecf0f1;
}

#goThird:hover {
  cursor: pointer;
  color: #ecf0f1;
  border: 1px solid black;
  background-color: black;
}